{% extends 'main.html' %}

{% block content %}

{% load static %}

<div class="container">
    <div class="card">
        <div class="row align-items-center">
            <div class="col m-sm-3">
                <video id="camerafeed" autoplay controls="" width="475px"></video>
            </div>
            <div class="col m-sm-3">
                <h4 class="font-weight-bold mb-3">Face recognition</h4>
                <p>Here we use an AI model that recognizes facial expression based on the 7 categories:</p>
                <ul>
                    <li>angry</li>
                    <li>sad</li>
                    <li>fearful</li>
                    <li>happy</li>
                    <li>disgusted</li>
                    <li>surprised</li>
                    <li>neutral</li>
                </ul>
                <p>Click on the button below to take the photo and proceed with the recommendations</p>
                <button id="capture" class="btn btn-primary mx-sm-3">Get recommendations</button>
            </div>
        </div>
    </div>
</div>

<script>
    navigator.mediaDevices.getUserMedia({ video: true })
        .then(function (stream) {
            document.getElementById('camerafeed').srcObject = stream;
        })
        .catch(function (error) {
            console.log('Camera access error:', error);
        });
</script>

{% endblock %}