{% load static %}

<div class="container-fluid bg-primary py-3 d-none d-md-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-lg-left">
                <div class="d-inline-flex align-items-center">
                    <a class="text-white px-3" href="{% url 'register' %}">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-white px-3" href="{% url 'register' %}">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-white px-3" href="{% url 'register' %}">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6 text-center text-lg-right mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center">
                    <a class="text-white px-3" href="{% url 'login' %}">Log in</a>
                    <span class="text-white">|</span>
                    <a class="text-white px-3" href="{% url 'register' %}">Sign up</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid position-relative nav-bar p-1">
    <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
        <nav class="navbar navbar-expand-lg bg-white navbar-light shadow p-lg-0">
            <a href="{% url 'home' %}" class="navbar-brand d-block d-lg-none">
                <h1 class="m-0 display-4 text-primary"><span class="text-secondary">i</span>MOODY</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto py-0">
                    <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
                    <a href="{% url 'login' %}" class="nav-item nav-link">Profile</a>
                </div>
                <a href="{% url 'home' %}" class="navbar-brand mx-5 d-none d-lg-block">
                    <h1 class="m-0 display-4 text-primary"><span class="text-secondary">i</span>MOODY</h1>
                </a>
                <div class="navbar-nav mr-auto py-0">
                    <a href="#about" class="nav-item nav-link">About</a>
                    <a href="#contact" class="nav-item nav-link">Contact</a>
                </div>
            </div>
        </nav>
    </div>
</div>

<!--  <span class="hello-msg">Hello, {{request.user}}</span>-->
<!--  <span><a class="hello-msg" href="{% url 'logout' %}">Logout</a></span>-->